body {
  color: white;
  margin: 0;
  text-align: center;
  background-color: black;

}
canvas {
  display: block;
  width: 100%;
  height: 100%;
}
p {
  color: rgba(255,255,255, 0.5)
}
h1, .h1 {
  font-size: 4.5rem;
}
small, .small {
  font-size: 124%;
  font-weight: 400;
}
.header {
  top: 42%;
}
.header-content {
  padding: 50px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
}
.header-menu {
  padding: 0;
  margin: 0;
  z-index: 0;
  position: absolute;
  right: 5vw;
  top: 5vh;
}
.header-menu .menu-item {
  display: inline-block;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  font-size: .9vh;
  opacity: .5;
  padding-right: 6.5px;
}
.footer {
  bottom:3%;
}
.description {
  color: gray;
  padding-top: 50px;
}
a, a:hover, a:visited {
  color: white;
  text-decoration: none;
} 
.disable-selection {
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
h1::after {
  content: 'TM';
  font-size: 12px;
  position:absolute;
  top: 3px;
  padding-left: 5px;
  font-weight: 400;
}
h2::after {
  content: '2';
  font-size: 12px;
  position:absolute;
  top: 14px;
  padding-left: 5px;
}
.btn {
  border-radius: 100px;
  padding: 10px 25px;
}
.footer-menu.show {
  opacity: 1;
}
.footer-menu {
  z-index: 100;
  padding: 0;
  margin: 0;
  position: fixed;
  bottom: 10vh;
  width: 100%;
  text-align: center;
  opacity: 0;
}
.footer-menu .menu-items {
  padding: 0;
  margin: 0;
}
.footer-menu .menu-item {
  display: inline-block;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  text-indent: .2vw;
  font-size: 2.5vh;
  opacity: .5;
  padding-right: 4vw;
  padding-left: 4vw;
  user-select: none;
}